{% extends "store/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Register - My Shop{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card shadow-lg p-4" style="width: 100%; max-width: 500px; border-radius: 15px;">
    <div class="text-center mb-4">
      <h2 class="fw-bold">Create an Account</h2>
      <p class="text-muted">Join us and start shopping today!</p>
    </div>

    <form method="post" novalidate>
      {% csrf_token %}
      {{ form|crispy }}

       <div class="mb-3">
        <label for="id_phone" class="form-label">Phone  *optional*</label>
        <input type="text" name="phone" id="id_phone" class="form-control" value="{{ form.phone.value|default:'' }}">
      </div>

      <div class="mb-3">
        <label for="id_address" class="form-label">Address *optional*</label>
        <input type="text" name="address" id="id_address" class="form-control" value="{{ form.address.value|default:'' }}">
      </div>

      <div class="mb-3">
        <label for="id_birth_date" class="form-label">Birth Date  *optional*</label>
        <input type="date" name="birth_date" id="id_birth_date" class="form-control" value="{{ form.birth_date.value|default:'' }}">
      </div>


      <button type="submit" class="btn btn-primary w-100 fw-bold mt-3" style="border-radius: 50px; padding: 10px 0;">
        Register
      </button>
    </form>

    <div class="text-center mt-3">
      <p class="text-muted">Already have an account?<a href="{% url 'accounts:register' %}" style="color: #1e1e1f; font-weight: bold;">Login</a>
</p>
    </div>
  </div>
</div>

<style>
  body {
    background: linear-gradient(135deg,  #bebec2, #1e1e1f);
  }

  .card {
    background-color: #ffffffcc;
  }

  .btn-primary:hover {
    background-color: #5a67d8;
    border-color: #5a67d8;
  }
</style>
{% endblock %}
